{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block title %}{{ block.super }}Home{% endblock %}

{% block styles %}
<link href="{% static 'site/css/jquery.bootgrid.min.css' %}" rel="stylesheet">
<link href="{% static 'site/css/vex.css' %}" rel="stylesheet">
<link href="{% static 'site/css/vex-theme-os.css' %}" rel="stylesheet">
{% endblock styles %}


{% block navbar-left %}
  {% include "_navbar.html" with active_link="home" %}
{% endblock %}

{% block splash %}
<div class="short-jumbo">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <h1>&nbsp;</h1>
        </div>
      </div>      
      <div class="row">
        <div class="col-md-12 col-sm-12">
            <h1>Your Injections</h1>
        </div>
      </div>
    </div>
  </div>
{% endblock splash %}

{% block container %}
<!-- Benefits of the Django application -->
<div class="container">
    <div class="row">
        <div class="col-lg-12">
          <h3>Hello {{ user.name }},</h3>
          {% if last_injection %}
            <p class="lead">Your last injection was {{ last_injection.date|naturalday }}.</p>
          {% endif %}
          {% if should_inject %}
            <h4 class="text-success">Yous should inject today.</h4>
          {% else %}
            <h4>Your next injection should be {{ next_injection_date|naturalday }}.</h4>
          {% endif %}
          <sub>You can set your injection frequency in your <a href='/users/me/'>profile</a>.</sub>
        </div>
      </div>
  <div class="row">
    <div class="col-lg-6">
      <h2>Record Injection</h2>
      Click on the injection site to record the injection. <br>
      The greener a site is, the safer it is.
      <div class='text-center' style="width: 100%">
        <div id='vitruvian_map' style='background-image: url("{% static '/site/img/Vitruvian_man.jpg' %}");  background-repeat: no-repeat; height:308px; width:308px;'>
          {% for site in sites %}
            <div class = "site-marker inject"  title="{{ site.name }}" style = "position: absolute; top: {{ site.pos_x }}px; left: {{ site.pos_y }}px;">
              <span class="circle" style="color: {{ site.color}};"></span>
            </div>
          {% endfor %}
        </div>
      </div>  
    </div>
    <div class="col-lg-6">
      <h2>Recent Injection History</h2>
      <table id="injection-history-grid" class="table table-condensed table-hover table-striped">
        <thead>
          <tr>
            <th data-column-id="date" data-formatter="date">Date</th>
            <th data-column-id="site">Injection Site</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</div>

{% endblock container %}


<div class="modal" tabindex="-1" role="dialog" id="injection-modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Injection Recorded Successfully</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>
            You have recorded an injection in <span id="model-site"></span> for 
            date <span id="modal-date"></span>.
          
            Keeping on top of your meds is the best way to stay healthy.
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">OK</button>
        </div>
      </div>
    </div>
  </div>




{% block scripts %}
<script src="{% static 'site/js/site.js' %}"></script>
<script src="{% static 'site/js/jquery.bootgrid.min.js' %}"></script>
<script src="{% static 'site/js/vex.combined.min.js' %}"></script>
<script>vex.defaultOptions.className = 'vex-theme-os'</script>

<script>
  $(function() {

    // load the injection history into the table.
    $("#injection-history-grid").bootgrid({
      navigation : 0,
      ajax: true,
      url: "/api/injections/",
      ajaxSettings: {
        method: "GET",
        cache: false
      },
      formatters: {
        "date": function(column, row) {
          var date = Date.parse(row.date);
          var delta = Math.round((+new Date - date) / 1000);
          var minute = 60,
              hour = minute * 60,
              day = hour * 24,
              week = day * 7;
          var fuzzy;
          
          if (delta < day) {
            fuzzy = "Today";
          } else if (delta < day * 2) {
            fuzzy = 'Yesterday';
          } else if (delta < day * 3) {
            fuzzy = 'Two days ago';
          } else {
            fuzzy = row.date;
          }
          return fuzzy;
        }
      }
    });


    // Get todays date
    var d = new Date();
    var month = d.getMonth()+1;
    var day = d.getDate();
    var today_string = d.getFullYear() + '-' +
        ((''+month).length<2 ? '0' : '') + month + '-' +
        ((''+day).length<2 ? '0' : '') + day;


    $(".inject").on("click", function(){
      $.ajax({
        type: 'POST',
        url: "/api/injections/",
        data: JSON.stringify({
          site : $( this ).attr( 'title' ),
          date : today_string
        }), 
        success: function(data) { 
          $("#injection-history-grid").bootgrid("reload");
          var modal_html = `
                      <div width="300px">
                        <h3 class="modal-title">Injection Recorded Successfully</h3><br>
                        <p> You have recorded an injection in your <br>${data.site} for ${data.date}.</p>
                        <p> Keeping on top of your meds is the best way to stay healthy.</p>
                      </div>`;
          vex.dialog.alert({ 
            unsafeMessage: modal_html,
            overlayClosesOnClick: false,
            callback : function(){
              location.reload();
              },
            })
          },
        contentType: "application/json",
        dataType: 'json'
      });
    });


  });
</script>

{% endblock scripts %}